{#
/**
 * @file
 * Page theme for views infinite scroll.
 */
#}

<div class="infinite-scroll-wrapper">

  <div class="loading-element-wrapper">
  </div>

  {% if options.vis.manual_load %}
    <a class="button load-more-button">{{ options.vis.manual_load_text }}</a>
  {% endif %}

  <div class="original-pager">
    {{ items }}
  </div>
</div>
